.navbar{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 50px;
    margin-right: 5em;
}

h1{
    display: block;
    text-align: center;
}

h2{

    display: block;
    text-align: center;
    color: blue;
}
h1{
    display: block;
    text-align: center;
}

.build_button{
     display: flex;
    margin-top: 1em;
    align-items: left;
    justify-content: space-between;
   
}

input[type='button'], input[type='submit']  {
    display: block;
    margin-top: 1em;
}

.nav_button{
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.flex_content img {
    width: 80%;
    max-width: 161px;
}

.cart{
    float: right;
    width: 40%;
    max-width: 100px;
    margin-right: 5em;
}


/* use flexbox */
.flex_content{
    clear: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}



figure {
    flex-grow: 1;
    flex-basis: 165px;
    margin-top: 2em;
    text-align: left;
}


figcaption {
    font-size: 90%;
    padding-top: 1%;
}

label {
    font-size: .8em;
}

form {
    clear: right;
}

fieldset {
    border: none;
}

table {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
}

table, td, th {
    border: solid 1px black;
}

#table_title {
    color: blue;
    font-size: 1.5em;
}

td {
    padding-left: 1em;
    padding-right: 1em;
}

tfoot {
    font-weight: bold;

}


footer {
    width: 100%;
    text-align: center;
    margin-top: 2em;
    font-size: .8em;
    background-color: red;
    color: white;
}